<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Archives</title>
    </head>
    <body>
        {{ template "nav.html" . }}
        <main>
            <ul>
                {{ range .Published }}
                    <li>
                        <a href="posts/{{ .Slug }}">{{ .Title }}</a>
                        <p><span class="header">First published: {{ .CreatedHumanReadable }}</span></p>
                        <p><span class="header">Last updated: {{ .UpdatedHumanReadable }}</span></p>
                        <p class="summary">{{ .Summary }}</p>
                    </li>
                {{ end }}
            </ul>
        </main>
    </body>
</html>
