<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Archives</title>
    </head>
    <body>
        {{ template "nav.html" . }}
        <main>
            <h1 class="page-title">Archives</h1>
            <ul>
                {{ $tagFilter := .Tag }}
                {{ range .Published }}
                    {{ if (or (eq $tagFilter "") (hasTag $tagFilter .Tags)) }}
                        <li class="published">
                            <span class="created">{{ (humanReadable .Created) }}: </span>
                            <a href="posts/{{ .Slug }}">
                                {{ .Title }}
                            </a>
                            <details>
                                <summary class="meta"><span>[...]</span></summary>
                                <p class="summary">{{ .Summary }}</p>
                            </details>
                            {{  if (gt (len .Tags) 0) }}
                                {{ $numTags := (len .Tags) }}
                                <div>
                                    {{ range $i, $tag := .Tags }}
                                        <a href="/archives?tag={{ $tag }}"><span class="tags">{{ $tag }}</span></a>{{ if (lt $i (dec $numTags)) }},{{ end }}
                                    {{ end }}
                                </div>
                            {{ end }}
                            {{ if (gt .Updated .Created) }}
                                <br>
                                <p><span class="updated">Updated on {{ (humanReadable .Updated) }}</span></p>
                            {{ end }}
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
            {{ if (ne $tagFilter "") }}
                <a href="/archives"><span>Show full archives</span></a>
            {{ end }}
        </main>
    </body>
</html>
