<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Projects</title>
    </head>
    <body>
        {{ template "nav.html" . }}
        <main class="project-gallery">
            {{ range . }}
                {{ with .Frontmatter }}
                    <section class="project-entry">
                        <h2 class="meta"><a href="{{ .HostURL }}" target="blank">{{ .Name }}</a></h2>
                        <img src="static/github_white.svg" width="50" height="50" alt="GitHub link" class="repo-icon">
                        {{ $numStack := (len .Stack) }}
                        <div>
                            {{ range $i, $stack := .Stack }}
                                <span class="meta">{{ $stack }}</span>{{ if (lt $i (dec $numStack)) }}<span class="meta">,</span>{{ end }}
                            {{ end }}
                        </div>
                        <p>{{ .Synopsis }}</p>
                    </section>
                {{ end }}
            {{ end }}
        </main>
    </body>
</html>
