<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Projects</title>
    </head>
    <body>
        {{ template "nav.html" . }}
        <main class="project-gallery">
            {{ range . }}
                {{ with .Frontmatter }}
                    <a href="{{ .HostURL }}" target="blank">
                        <section class="project-entry">
                            <h2 class="meta">{{ .Name }}</h2>
                            <img src="{{ .Thumbnail }}" width="50" height="50" alt="GitHub link" class="repo-icon">
                            {{ $numStack := (len .Stack) }}
                            <div>
                                {{ range $i, $stack := .Stack }}
                                    <span class="meta">{{ $stack }}</span>{{ if (lt $i (dec $numStack)) }}<span class="meta">,</span>{{ end }}
                                {{ end }}
                            </div>
                            <p>{{ .Synopsis }}</p>
                        </section>
                    </a>
                {{ end }}
            {{ end }}
        </main>
    </body>
</html>
