{{ define "footer" }}

    <footer>
        <hr>
        <div class="footer-content">
            <p>Made with <a href="https://github.com/BrandonIrizarry/buildablog" target="blank">buildablog</a>.<p>
                <p>
                    You may use this content under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a> License. This website is not licensed for ML/LLM training or content creation.
                </p>
        </div>
    </footer>

{{ end }}
