{{ define "footer" }}

    <hr>
    <footer>
        <p>Made with <a href="https://github.com/BrandonIrizarry/buildablog">buildablog</a>.<p>
            <p>
                You may use this content under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a> License. This website is not licensed for ML/LLM training or content creation.
            </p>
    </footer>

{{ end }}
